<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>BCGIA Phase2</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="95dea7">  <td>21/02/24 10:20:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_OverviewClickingFunctionality_005Test.OverviewData()[pri:0, instance:bcgiatestcases.TC_OverviewClickingFunctionality_005Test@140c9f39]">OverviewData</td> 
  <td>main@570794077</td>   <td></td> </tr>
<tr bgcolor="70f470">  <td>21/02/24 10:20:30</td>   <td>23016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_UserPageFunctionalities_006Test.UserPageFunct()[pri:0, instance:bcgiatestcases.TC_UserPageFunctionalities_006Test@4d910fd6]">UserPageFunct</td> 
  <td>main@570794077</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>21/02/24 10:19:33</td>   <td>-33653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Useradd_003Test.addu()[pri:0, instance:bcgiatestcases.TC_Useradd_003Test@19d481b]">addu</td> 
  <td>main@570794077</td>   <td></td> </tr>
<tr bgcolor="7bddad">  <td>21/02/24 10:19:49</td>   <td>-17804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_CreateClient_004Test.clientAdd()[pri:0, instance:bcgiatestcases.TC_CreateClient_004Test@1f97cf0d]">clientAdd</td> 
  <td>main@570794077</td>   <td></td> </tr>
<tr bgcolor="a4c865">  <td>21/02/24 10:19:22</td>   <td>-44861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest_001Test.loginTest()[pri:0, instance:bcgiatestcases.TC_LoginTest_001Test@51f116b8]">loginTest</td> 
  <td>main@570794077</td>   <td></td> </tr>
<tr bgcolor="a59e97">  <td>21/02/24 10:18:34</td>   <td>-92649</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClassTest.setup(java.lang.String)[pri:0, instance:bcgiatestcases.TC_LoginTest_001Test@51f116b8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@570794077</td>   <td></td> </tr>
<tr bgcolor="a59e97">  <td>21/02/24 10:19:25</td>   <td>-41629</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClassTest.setup(java.lang.String)[pri:0, instance:bcgiatestcases.TC_Useradd_003Test@19d481b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@570794077</td>   <td></td> </tr>
<tr bgcolor="a59e97">  <td>21/02/24 10:19:41</td>   <td>-25539</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClassTest.setup(java.lang.String)[pri:0, instance:bcgiatestcases.TC_CreateClient_004Test@1f97cf0d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@570794077</td>   <td></td> </tr>
<tr bgcolor="a59e97">  <td>21/02/24 10:19:59</td>   <td>-7848</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClassTest.setup(java.lang.String)[pri:0, instance:bcgiatestcases.TC_OverviewClickingFunctionality_005Test@140c9f39]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@570794077</td>   <td></td> </tr>
<tr bgcolor="a59e97">  <td>21/02/24 10:20:22</td>   <td>15191</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClassTest.setup(java.lang.String)[pri:0, instance:bcgiatestcases.TC_UserPageFunctionalities_006Test@4d910fd6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@570794077</td>   <td></td> </tr>
<tr bgcolor="a59e97">  <td>21/02/24 10:19:24</td>   <td>-42690</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClassTest.tearDown()[pri:0, instance:bcgiatestcases.TC_LoginTest_001Test@51f116b8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@570794077</td>   <td></td> </tr>
<tr bgcolor="a59e97">  <td>21/02/24 10:19:40</td>   <td>-26889</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClassTest.tearDown()[pri:0, instance:bcgiatestcases.TC_Useradd_003Test@19d481b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@570794077</td>   <td></td> </tr>
<tr bgcolor="a59e97">  <td>21/02/24 10:19:57</td>   <td>-9255</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClassTest.tearDown()[pri:0, instance:bcgiatestcases.TC_CreateClient_004Test@1f97cf0d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@570794077</td>   <td></td> </tr>
<tr bgcolor="a59e97">  <td>21/02/24 10:20:20</td>   <td>13664</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClassTest.tearDown()[pri:0, instance:bcgiatestcases.TC_OverviewClickingFunctionality_005Test@140c9f39]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@570794077</td>   <td></td> </tr>
<tr bgcolor="a59e97">  <td>21/02/24 10:20:40</td>   <td>33067</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClassTest.tearDown()[pri:0, instance:bcgiatestcases.TC_UserPageFunctionalities_006Test@4d910fd6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@570794077</td>   <td></td> </tr>
</table>
