<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>BCG IA PHase2</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e767f3">  <td>21/02/18 16:38:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest_001.loginTest()[pri:0, instance:bcgiatestcases.TC_LoginTest_001@31c88ec8]">loginTest</td> 
  <td>main@112049309</td>   <td></td> </tr>
<tr bgcolor="61d194">  <td>21/02/18 16:38:43</td>   <td>-12294</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:bcgiatestcases.TC_LoginTest_001@31c88ec8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112049309</td>   <td></td> </tr>
<tr bgcolor="61d194">  <td>21/02/18 16:38:56</td>   <td>838</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:bcgiatestcases.TC_LoginTest_001@31c88ec8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112049309</td>   <td></td> </tr>
</table>
